{{#*inline "page"}}
<!--<div class="hook">Pivot meets Linerider meets Smash-->
<!--<div class="hook">Create your own fighters and stages, then play them online with your friends.</div>-->
<div class="hook">Play <!--online--> with custom fighters and stages</div>

<div class="row">
    <div class="col-md">
        <h2>Features</h2>
        <ul>
            <li>Familiar physics</li>
            <li>Fighter and Stage Editor</li>
            <!--<li>GGPO style Netplay and matchmaking</li>-->
            <!--<li>TAS tools</li>-->
            <li>Save replays</li>
            <li>backwards and forwards frame step</li>
            <li>Various toggleable debug displays</li>
            <li>GC to Wii U adapter native support</li>
            <!--<li>Scriptable with lua</li>-->
            <li><a href="https://github.com/rukai/PF_Sandbox">Open Source</a></li>
        </ul>
        <h2>System Requirements</h2>
        <ul>
            <li>Windows or Linux</li>
            <li>Vulkan</li>
        </ul>
        <h2>Download</h2>
        <p>Get access to the latest builds by subscribing for $1 on patreon.</p>
        <a href="https://www.patreon.com/bePatron?u=6776200" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
    <div class="col-md">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="video embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9lftUojcV44?rel=0&amp;" allowfullscreen></iframe>
        </div>
    </div>
</div>
{{/inline}}

{{~> base title="PF Sandbox" page_home=true ~}}
