{{#*inline "page"}}
<h1>PF TAS</h1>

<ul>
    <li>PF TAS is a keyboard driven GUI tool for sending TAS inputs to PF Sandbox.</li>
    <li>Only affects game inputs not menu inputs.</li>
    <li>Pressing spacebar in PF TAS will tell PF Sandbox to advance the frame using your TAS inputs instead of the controllers and will toggle off all pressed buttons.</li>
    <li>However you can hold shift while pressing a button to keep the GC button held until manually toggled off.</li>
    <li>Enter a number with 1234567890-+ before selecting an analog element (stick or trigger) to set the number as the value.</li>
</ul>

<h2>Keyboard → GC</h2>

<ul>
    <li>a → a</li>
    <li>s → b</li>
    <li>d → x</li>
    <li>f → y</li>
</ul>

<ul>
    <li>g → start</li>
    <li>y → z</li>
</ul>

<ul>
    <li>n → left trigger digital</li>
    <li>m → left trigger</li>
    <li>, → right trigger</li>
    <li>. → right trigger digital</li>
</ul>

<ul>
    <li>u → stick horizontal</li>
    <li>i → stick vertical
    <li>o → c-stick horizontal</li>
    <li>p → c-stick vertical</li>
</ul>

<ul>
    <li>arrow keys → DPAD</li>
</ul>

<h2>Frame Advance</h2>

<ul>
    <li>Enter → Play</li>
    <li>Space → Step</li>
    <li>h     → Replay backwards</li>
    <li>j     → Step backwards</li>
    <li>k     → Step forwards</li>
    <li>l     → Replay forwards</li>
</ul>

<h2>Config</h2>

<ul>
    <li>F1-F12 → Select a controller</li>
    <li>}/{    → Add/remove controller</li>
</ul>

<h2>TODO</h2>

<ul>
    <li>Q → Toggle between display all controllers / display selected controller</li>
    <li>W → Toggle stretch display / force aspect ratio</li>
    <li>E → Toggle display float values / byte values for sticks and triggers</li>
    <li>R → Toggle touch typing mode and 1-1 keybindings</li>
</ul>
{{/inline}}

{{~> base title="PF Sandbox | TAS Manual" page_tas=true ~}}
